<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>050000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>餐饮</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>050100</string>
				<key>name</key>
				<string>中餐厅</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050101</string>
				<key>name</key>
				<string>综合酒楼</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050201</string>
				<key>name</key>
				<string>西餐厅</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050202</string>
				<key>name</key>
				<string>日本料理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050203</string>
				<key>name</key>
				<string>韩国料理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050300</string>
				<key>name</key>
				<string>快餐厅</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050301</string>
				<key>name</key>
				<string>肯德基</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050303</string>
				<key>name</key>
				<string>必胜客</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>070000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>生活服务</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>070100</string>
				<key>name</key>
				<string>旅行社</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070301</string>
				<key>name</key>
				<string>飞机票代售点</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070302</string>
				<key>name</key>
				<string>火车票代售点</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070400</string>
				<key>name</key>
				<string>邮局</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070702</string>
				<key>name</key>
				<string>会计师事务所</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070800</string>
				<key>name</key>
				<string>人才市场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>071000</string>
				<key>name</key>
				<string>电力营业厅</string>
			</dict>
			<dict>
				<key>code</key>
				<string>071500</string>
				<key>name</key>
				<string>洗衣店</string>
			</dict>
			<dict>
				<key>code</key>
				<string>071600</string>
				<key>name</key>
				<string>中介机构</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>030000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>购物</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>030101</string>
				<key>name</key>
				<string>商场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030201</string>
				<key>name</key>
				<string>商业街</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030301</string>
				<key>name</key>
				<string>超市</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030401</string>
				<key>name</key>
				<string>便利店</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030501</string>
				<key>name</key>
				<string>家电数码</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030601</string>
				<key>name</key>
				<string>农贸市场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030701</string>
				<key>name</key>
				<string>建材家居</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030801</string>
				<key>name</key>
				<string>花鸟市场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030901</string>
				<key>name</key>
				<string>文化用户店</string>
			</dict>
			<dict>
				<key>code</key>
				<string>031001</string>
				<key>name</key>
				<string>书店</string>
			</dict>
			<dict>
				<key>code</key>
				<string>031101</string>
				<key>name</key>
				<string>专卖店</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>150000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>交通出行</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>150100</string>
				<key>name</key>
				<string>飞机场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150200</string>
				<key>name</key>
				<string>火车站</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150300</string>
				<key>name</key>
				<string>港口码头</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150400</string>
				<key>name</key>
				<string>长途汽车站</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040501</string>
				<key>name</key>
				<string>地铁</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150501</string>
				<key>name</key>
				<string>出入口</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150600</string>
				<key>name</key>
				<string>轻轨站</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>100000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>住宿</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>100100</string>
				<key>name</key>
				<string>宾馆酒店</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100102</string>
				<key>name</key>
				<string>五星级宾馆</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100103</string>
				<key>name</key>
				<string>四星级宾馆</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100104</string>
				<key>name</key>
				<string>三星级宾馆</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100200</string>
				<key>name</key>
				<string>旅馆招待所</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>110000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>旅游景点</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>110103</string>
				<key>name</key>
				<string>植物园</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110100</string>
				<key>name</key>
				<string>公园广场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110101</string>
				<key>name</key>
				<string>公园</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110102</string>
				<key>name</key>
				<string>动物园</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>141200</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>学校</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>141201</string>
				<key>name</key>
				<string>高等院校</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141202</string>
				<key>name</key>
				<string>中学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141203</string>
				<key>name</key>
				<string>小学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141204</string>
				<key>name</key>
				<string>幼儿园</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141205</string>
				<key>name</key>
				<string>成人教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141206</string>
				<key>name</key>
				<string>职业技术学校</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141300</string>
				<key>name</key>
				<string>科研机构</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141400</string>
				<key>name</key>
				<string>培训机构</string>
			</dict>
			<dict>
				<key>code</key>
				<string>141500</string>
				<key>name</key>
				<string>驾校</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>090000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>医院</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>090100</string>
				<key>name</key>
				<string>综合医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090200</string>
				<key>name</key>
				<string>专科医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090201</string>
				<key>name</key>
				<string>整形美容</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090202</string>
				<key>name</key>
				<string>口腔医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090203</string>
				<key>name</key>
				<string>眼科医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090206</string>
				<key>name</key>
				<string>骨科医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090209</string>
				<key>name</key>
				<string>妇科医院</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090211</string>
				<key>name</key>
				<string>传染病医院</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>120000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>房地产</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>120100</string>
				<key>name</key>
				<string>产业园区</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120200</string>
				<key>name</key>
				<string>楼宇相关</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120201</string>
				<key>name</key>
				<string>商务写字楼</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120300</string>
				<key>name</key>
				<string>住宅区</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120302</string>
				<key>name</key>
				<string>住宅小区</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120301</string>
				<key>name</key>
				<string>别墅</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>130000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>政府机关及社会团体</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>130100</string>
				<key>name</key>
				<string>政府机关</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130200</string>
				<key>name</key>
				<string>外国机构</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130300</string>
				<key>name</key>
				<string>民主党派</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130400</string>
				<key>name</key>
				<string>社会团体</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130401</string>
				<key>name</key>
				<string>共青团</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130403</string>
				<key>name</key>
				<string>妇联</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130405</string>
				<key>name</key>
				<string>红十字会</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130407</string>
				<key>name</key>
				<string>行业协会</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130409</string>
				<key>name</key>
				<string>教会</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>170000</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>公司企业</string>
		<key>list</key>
		<array>
			<dict>
				<key>code</key>
				<string>170100</string>
				<key>name</key>
				<string>知名企业</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170200</string>
				<key>name</key>
				<string>公司</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170201</string>
				<key>name</key>
				<string>广告装饰</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170202</string>
				<key>name</key>
				<string>建筑公司</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170203</string>
				<key>name</key>
				<string>医药公司</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170204</string>
				<key>name</key>
				<string>机械电子</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
