<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>wuhanVector.zip</string>
		<key>code</key>
		<string>420100</string>
		<key>name</key>
		<string>武汉市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>hubeiVector.zip</string>
		<key>code</key>
		<string>420200</string>
		<key>name</key>
		<string>黄石市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>420300</string>
		<key>name</key>
		<string>襄阳市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>420500</string>
		<key>name</key>
		<string>荆州市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>420600</string>
		<key>name</key>
		<string>宜昌市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>ezhouVector.zip</string>
		<key>code</key>
		<string>420700</string>
		<key>name</key>
		<string>黄冈市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>420800</string>
		<key>name</key>
		<string>十堰市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>420900</string>
		<key>name</key>
		<string>孝感市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>421000</string>
		<key>name</key>
		<string>荆门市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>421100</string>
		<key>name</key>
		<string>咸宁市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>421200</string>
		<key>name</key>
		<string>随州市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>鄂州市.zip</string>
		<key>code</key>
		<string>421300</string>
		<key>name</key>
		<string>鄂州市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>神农架市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>恩施市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>仙桃市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>天门市</string>
	</dict>
	<dict>
		<key>url</key>
		<string>arcgiscache.zip</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>潜江市</string>
	</dict>
</array>
</plist>
