<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<real>73.63</real>
			<key>y</key>
			<real>3.35</real>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<real>135.083</real>
			<key>y</key>
			<real>68.55</real>
		</dict>
		<key>url</key>
		<string>china</string>
		<key>name</key>
		<string>全国</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<real>108.362398</real>
			<key>y</key>
			<real>29.032631</real>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<real>116.132447</real>
			<key>y</key>
			<real>33.273003</real>
		</dict>
		<key>url</key>
		<string>hubei</string>
		<key>name</key>
		<string>湖北</string>
	</dict>
	<dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<real>115.076</real>
			<key>y</key>
			<real>31.362956</real>
		</dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<real>113.696056</real>
			<key>y</key>
			<real>29.968521</real>
		</dict>
		<key>url</key>
		<string>wuhan</string>
		<key>code</key>
		<string>420100</string>
		<key>name</key>
		<string>武汉市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<real>114.527053</real>
			<key>y</key>
			<real>29.508447</real>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<real>115.506133</real>
			<key>y</key>
			<real>30.32933</real>
		</dict>
		<key>url</key>
		<string>huangshi</string>
		<key>code</key>
		<string>420200</string>
		<key>name</key>
		<string>黄石市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>110.759295</string>
			<key>y</key>
			<string>31.230438</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>113.113806</string>
			<key>y</key>
			<string>32.630506</string>
		</dict>
		<key>url</key>
		<string>xiangyang</string>
		<key>code</key>
		<string>420300</string>
		<key>name</key>
		<string>襄阳市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>114.527053</string>
			<key>y</key>
			<string>29.508447</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>115.506133</string>
			<key>y</key>
			<string>30.32933</string>
		</dict>
		<key>url</key>
		<string>jingzhou</string>
		<key>code</key>
		<string>420500</string>
		<key>name</key>
		<string>荆州市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>110.250665</string>
			<key>y</key>
			<string>29.947571</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>112.077205</string>
			<key>y</key>
			<string>31.574187</string>
		</dict>
		<key>url</key>
		<string>yichang</string>
		<key>code</key>
		<string>420600</string>
		<key>name</key>
		<string>宜昌市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>114.396593</string>
			<key>y</key>
			<string>29.723304</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>116.132447</string>
			<key>y</key>
			<string>31.607963</string>
		</dict>
		<key>url</key>
		<string>huanggang</string>
		<key>code</key>
		<string>420700</string>
		<key>name</key>
		<string>黄冈市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>109.437401</string>
			<key>y</key>
			<string>31.508011</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>111.579985</string>
			<key>y</key>
			<string>33.272925</string>
		</dict>
		<key>url</key>
		<string>shiyan</string>
		<key>code</key>
		<string>420800</string>
		<key>name</key>
		<string>十堰市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>113.31036</string>
			<key>y</key>
			<string>30.382349</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>114.586544</string>
			<key>y</key>
			<string>31.856251</string>
		</dict>
		<key>url</key>
		<string>xiaogan</string>
		<key>code</key>
		<string>420900</string>
		<key>name</key>
		<string>孝感市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>111.855663</string>
			<key>y</key>
			<string>30.392186</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>113.48566</string>
			<key>y</key>
			<string>31.613217</string>
		</dict>
		<key>url</key>
		<string>jingmen</string>
		<key>code</key>
		<string>421000</string>
		<key>name</key>
		<string>荆门市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>113.532119</string>
			<key>y</key>
			<string>29.032631</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>114.96812</string>
			<key>y</key>
			<string>30.301375</string>
		</dict>
		<key>url</key>
		<string>xianning</string>
		<key>code</key>
		<string>421100</string>
		<key>name</key>
		<string>咸宁市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>112.722569</string>
			<key>y</key>
			<string>31.32767</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>114.129303</string>
			<key>y</key>
			<string>32.434489</string>
		</dict>
		<key>url</key>
		<string>suizhou</string>
		<key>code</key>
		<string>421200</string>
		<key>name</key>
		<string>随州市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>114.2946</string>
			<key>y</key>
			<string>29.98925</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>115.172748</string>
			<key>y</key>
			<string>30.650722</string>
		</dict>
		<key>url</key>
		<string>ezhou</string>
		<key>code</key>
		<string>421300</string>
		<key>name</key>
		<string>鄂州市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>109.935605</string>
			<key>y</key>
			<string>31.296318</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>110.977013</string>
			<key>y</key>
			<string>31.863268</string>
		</dict>
		<key>url</key>
		<string>shenlongjia</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>神农架市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>108.362475</string>
			<key>y</key>
			<string>29.11701</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>110.638182</string>
			<key>y</key>
			<string>31.399899</string>
		</dict>
		<key>url</key>
		<string>enshi</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>恩施市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>112.89935</string>
			<key>y</key>
			<string>29,9345578</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>113.8688</string>
			<key>y</key>
			<string>30.534457</string>
		</dict>
		<key>url</key>
		<string>xiantao</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>仙桃市</string>
	</dict>
	<dict>
		<key>startpoint</key>
		<dict>
			<key>x</key>
			<string>112.586701</string>
			<key>y</key>
			<string>30.37995</string>
		</dict>
		<key>endpoint</key>
		<dict>
			<key>x</key>
			<string>113.461965</string>
			<key>y</key>
			<string>30.906039</string>
		</dict>
		<key>url</key>
		<string>tianmen</string>
		<key>code</key>
		<string>422800</string>
		<key>name</key>
		<string>天门市</string>
	</dict>
</array>
</plist>
