<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>050000</string>
		<key>imageName</key>
		<string>poi_category_food</string>
		<key>name</key>
		<string>餐饮</string>
	</dict>
	<dict>
		<key>code</key>
		<string>100100</string>
		<key>imageName</key>
		<string>poi_category_hotel</string>
		<key>name</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>code</key>
		<string>080302</string>
		<key>imageName</key>
		<string>poi_category_ktv</string>
		<key>name</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>150400</string>
		<key>imageName</key>
		<string>poi_category_bus</string>
		<key>name</key>
		<string>汽车站</string>
	</dict>
	<dict>
		<key>code</key>
		<string>180301</string>
		<key>imageName</key>
		<string>poi_category_gasstation</string>
		<key>name</key>
		<string>加油站</string>
	</dict>
	<dict>
		<key>code</key>
		<string>160100</string>
		<key>imageName</key>
		<string>poi_category_bank</string>
		<key>name</key>
		<string>银行</string>
	</dict>
	<dict>
		<key>code</key>
		<string>160300</string>
		<key>imageName</key>
		<string>poi_category_atm</string>
		<key>name</key>
		<string>ATM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>060400</string>
		<key>imageName</key>
		<string>poi_category_market</string>
		<key>name</key>
		<string>超市</string>
	</dict>
	<dict>
		<key>code</key>
		<string>060100</string>
		<key>imageName</key>
		<string>poi_category_shopping</string>
		<key>name</key>
		<string>商场</string>
	</dict>
	<dict>
		<key>code</key>
		<string>080601</string>
		<key>imageName</key>
		<string>poi_category_cinema</string>
		<key>name</key>
		<string>电影院</string>
	</dict>
	<dict>
		<key>code</key>
		<string>050500</string>
		<key>imageName</key>
		<string>poi_category_coffee</string>
		<key>name</key>
		<string>咖啡厅</string>
	</dict>
	<dict>
		<key>code</key>
		<string>090601</string>
		<key>imageName</key>
		<string>poi_category_drugs</string>
		<key>name</key>
		<string>药店</string>
	</dict>
	<dict>
		<key>code</key>
		<string>110101</string>
		<key>imageName</key>
		<string>poi_category_park</string>
		<key>name</key>
		<string>公园</string>
	</dict>
	<dict>
		<key>code</key>
		<string>090100</string>
		<key>imageName</key>
		<string>poi_category_hospital</string>
		<key>name</key>
		<string>医院</string>
	</dict>
	<dict>
		<key>code</key>
		<string>200300</string>
		<key>imageName</key>
		<string>poi_category_toilet</string>
		<key>name</key>
		<string>公厕</string>
	</dict>
	<dict>
		<key>code</key>
		<string>130000</string>
		<key>imageName</key>
		<string>poi_category_more</string>
		<key>name</key>
		<string>更多分类</string>
	</dict>
</array>
</plist>
